.data-designer {
  form {
    .btn-std {
      padding: 10px;
      padding-top: 12px;
    }
  }

  table {
    margin-top: 20px;

    td {
      i {
        padding-right: 10px;
      }

      a {
        i {
          padding-right: 3px;
        }
      }
    }
  }
}
