.info {
  padding: 16px 30px 16px 30px;

  p {
    font-size: 12px;
  }

  .left-info {
    h1 {
      font-size: 25px;
    }

    .breadcrumb {
      padding: 8px 0px;
      background-color: transparent;

      li {
        a {
          font-size: 11px;
          color: #666666;

          &:hover {
            color: $blue !important;
          }
        }
      }

      .active {
        color: $blue !important;
      }
    }
  }

  .right-info {
    .dismiss {
      font-size: 10px;
      color: #555;

      &:nth-child(4) {
        margin-left: 20px;
      }
    }

    h3 {
      font-size: 18px;
    }
  }
}

//info
.marketplace {
  a {
    padding: 5px 10px;
    padding-top: 7px;
  }

  .apps {
    background-color: #fff;
    margin: 16px 30px 16px 30px;

    // box-shadow: 1px 3px 16px $light-grey;

    .apps-link {
      position: relative;

      .btn-grps {
        width: 35%;
        text-align: right;
        position: absolute;
        top: -40px;
        right: 16px;

        a {
          width: 140px;
          padding: 10px;

          // margin-left: 5px;

        }

        i {
          padding-right: 5px;
        }
      }

      .nav-tabs {
        background-color: #f1f3f6;

        li {
          background-color: #f8f8f8;
          border-top: 1px solid #dee0e3;
          border-right: 1px solid #dee0e3;
          border-radius: 0px;

          a {
            color: $dark-grey;
            margin: 0px;

            &:hover {
              border-bottom: none;
            }
          }
        }

        .active {
          li {
            border-radius: 0px;
          }

          a {
            border-radius: 0px;
            border-top: 4px solid #ddd;
            border-bottom: 0px;
            border-left: 0px;
          }
        }
      }

      .tab-content {
        position: relative;

        .tab-pane {
          padding: 20px 20px 60px 20px;
        }

        h3 {
          font-size: 20px;
          color: #333;
          margin-bottom: 5px;
        }

        p {
          font-size: 12px;
          color: #333;
        }

        .left-tab-info {
          a {
            text-align: center;
            font-size: 10px;

            i {
              position: absolute;
              top: 53%;
              right: 11%;
            }
          }
        }

        //input
        form {
          float: right;

          .form-group {
            span {
              background-color: $login-box;
              border-left: none;

              a {
                color: #999fa5;
              }
            }

            input {
              font-size: 12px;
              width: 100%;
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;
              border-color: #dee0e3;
            }

            input[type=text] {
              height: 37px;
              background-color: $login-box;
              border-right: none;
            }
          }
        }

        .get-more-apps {
          position: absolute;
          bottom: 73px;
          right: 0px;

          .more-card {
            padding-left: 100px;
            position: relative;

            .more-icon {
              position: absolute;
              background-color: #f8f8f8;
              right: 0;
              top: 22px;
              width: 90px;
              height: 90px;
              border-radius: 50%;

              a {
                padding: 0;
                line-height: 90px;
                display: block;

                i {
                  color: #3e3e3e;
                  background-color: #fff;
                  font-size: 40px;
                  border: 1px solid $grey;
                  border-radius: 50%;
                  width: 70px;
                  height: 70px;
                  text-align: center;
                  line-height: 70px;

                  @include centerer(true, true);
                }
              }
            }

            //more-icon
            .more-details {
              padding-right: 20px;

              h3 {
                font-size: 20px;
              }

              p {
                font-size: 12px;
                color: #626262;
              }
            }
          }

          .more-details {
            // text-align: right;
            // padding-top: 0px;
            // margin-left: 50px;

            // p{
            //   width: 50%;
            // }

          }
        }
      }

      // tab-content

    }

    //apps-link

  }

  //apps

  .flex-grid {
    display: flex;

    // flex-wrap: wrap;

  }

  .flex-card {
    flex: 1;
  }

  .app-category {
    text-align: center;
  }

  .card {
    position: relative;
    margin: 5px;
    border: 1px solid transparent;
    padding: 15px;

    &:hover {
      border: 1px solid #dadada;
      background-color: #f8f8f8;

      .card-icon {
        background-color: transparent;

        i {
          background-color: #fff;
        }
      }
    }

    .card-icon {
      @include centerer(true, false);

      border: 10px solid #f8f8f8;
      background-color: #f8f8f8;
      padding: 0px;
      margin: 0px;
      border-radius: 50%;
      width: 100px;
      height: 100px;

      i {
        background-color: #fff;
        margin: 0px;
        color: #414141;
        border: 1px solid #eaeaea;
        border-radius: 50%;
        font-size: 40px;
        padding: 18px;
        width: 80px;
        height: 80px;
      }
    }

    .card-dot {
      position: absolute;
      top: 93px;
      left: 113px;
    }

    .card-details {
      padding-top: 90px;

      .card-title {
        font-size: 13px !important;
      }

      p {
        color: #626262;
        font-size: 10px !important;
      }

      a {
        text-align: center;
        position: relative;
        font-size: 10 !important;

        i {
          position: absolute;
          top: 35%;
          right: 5%;
        }
      }
    }
  }

  //card
  .side-sub-menu {
    .list-group {
      border-radius: 0px !important;

      .list-group-item {
        font-size: 12px;
        border-radius: 0px;
        background-color: #fff;

        // border-left: 1px solid transparent;

        i {
          margin-right: 20px;
        }

        &:hover {
          background-color: #f9f9f9;
          border-color: #ddd;
          color: $grey !important;
          border-left: 3px solid $blue;

          i {
            color: $grey !important;
          }
        }
      }

      .active {
        background-color: #f9f9f9;
        border-color: #ddd;
        color: $grey !important;
        border-left: 3px solid $blue;
      }

      .disable {
        border-color: #ddd;
        color: #ddd !important;

        // border-left: 3px solid transparent;

      }
    }
  }

  //side-sub-menu

  // .app-grid{
  // }

  .app-card {
    position: relative;
    border: 1px solid #e8e8e8;
    margin: 5px;
    height: 77px;

    .icon-environmen-white {
      background-color: $purple;
      position: absolute;
    }

    .icon-globe-white {
      background-color: $red;
      position: absolute;
    }

    .icon-product-white {
      background-color: $pink;
      position: absolute;
    }

    .icon-money-white {
      background-color: $cyan;
      position: absolute;
    }

    .icon-plane-white {
      background-color: $red;
      position: absolute;
    }

    .icon-stat-white {
      background-color: $pink;
      position: absolute;
    }

    .app-details {
      padding-left: 85px;

      @include centerer(false, true);

      h3 {
        font-size: 12px !important;
        margin-top: 10px;
        font-weight: bold;
      }

      p {
        font-size: 10px !important;
      }
    }

    /* Tooltip text */
    .tooltip {
      position: relative;
      display: block;
    }

    .config {
      .config-text {
        // display: none;
        border: 1px solid $grey;
        border-radius: 5px;
        background-color: $grey;
        padding: 5px;
        position: absolute;
        top: -30px;
        right: 0px;
        background-color: #fff;
        font-size: 9px;
        color: $grey;

        i {
          border: none;
          -webkit-text-stroke: 1px $grey;
          color: #fff;
          top: 12px;
          font-size: 20px;
        }
      }

      i {
        font-size: 10px;
        padding: 3px;
        border: 1px solid #dde0e3;
        color: #dde0e3;
        position: absolute;
        top: 3px;
        right: 3px;
      }
    }
  }

  //app-card
}

.get-application-button {
  a {
    height: 37px;
    line-height: 25px;
  }
}

.awesomize {
  float: left;
  width: 76px;
  text-align: center;
  height: 76px;
  background-color: #d6e439;

  &.red {
    background-color: #ef0303;
  }

  &.blue {
    background-color: #3ddcea;
  }

  &.pink {
    background-color: #ff3caf;
  }

  &.purple {
    background-color: #db7ddc;
  }

  i {
    color: #fff;
    font-size: 40px;
    line-height: 76px;
  }
}
