.processes-designer {
  .btn-trash {
    padding: 0;
    width: 30px;
    height: 30px;

    i {
      padding: 0 !important;
      line-height: 25px;
      font-size: 15px;
    }
  }

  .widget {
    .nav {
      float: left;

      li {
        a {
          color: $dark-font;

          &:hover, &:active, &:focus, &:visited {
            opacity: 0.8;
            background-color: transparent;
          }
        }
      }
    }

    .btn-grps {
      a {
        i {
          padding-right: 8px;
        }
      }
    }
  }

  //widget
  .config {
    float: right;
    color: $light-font;
    width: 277px;
    height: 100%;
    font-size: 13px;
    background-color: $navi;

    .nav-header {
      padding: 20px;
      background-color: $navi-header;

      a {
        color: $light-font;

        i {
          float: right;
        }
      }
    }

    .list-group {
      background-color: $navi;
      font-size: 13px;

      .list-group-item {
        background-color: $navi;
        border: 3px solid transparent;
        border-radius: 0px;

        // border-right: 2px solid transparent!important;

        small {
          color: $light-font !important;
          font-size: 11px;
        }

        &:hover {
          color: $light-font;
          background-color: $navi-drawer;
          border-right: 3px solid $blue !important;
        }
      }
    }
  }

  //config
  .form-settings {
    float: right;
    background-color: $navi-drawer;
    width: 600px;
    height: 100vh;
    color: #fff;

    .nav {
      font-size: 10px;

      li {
        padding-left: 10px;

        a {
          color: #fff;
          border-radius: 0px;
          border-bottom: 2px solid transparent;
          font-size: 12px;

          &:hover, &:active, &:focus {
            background-color: transparent !important;
            border-bottom: 2px solid $blue;
          }
        }
      }
    }

    .settings {
      font-size: 10px;

      .list-group {
        background-color: $navi;

        a {
          color: $light-font;
        }

        .list-group-head {
          padding: 20px 10px 20px 25px;
          background-color: $navi-sub-header;
          color: $light-font;
        }

        // .list-group-item:hover, .list-group-item:active{
        //     color: #fff;
        //     opacity: 0.8;
        //   }

        .list-group-item {
          text-transform: none;
          padding-left: 20px;
          background-color: $navi-drawer;
          border: 3px solid transparent;
          border-radius: 0px;
          padding-right: 20px;
          color: $light-font;
          font-size: 13px;

          &:hover {
            background-color: $navi-drawer;
            color: $light-font !important;
          }

          input[type=text] {
            color: #fff;
            border-radius: 2px;
            background-color: $navi-drawer !important;
          }

          a {
            i {
              padding: 3px;
            }
          }

          table {
            td {
              .btn-menu {
                margin-top: 0px;

                // color: $light-font!important;

              }
            }
          }

          .switch input {
            display: none;
          }

          /* The slider */
          .slider {
            position: absolute;
            cursor: pointer;
            width: 11% !important;
            top: 5px;
            right: 20px;
            bottom: 11px;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
          }

          .slider:before {
            position: absolute;
            content: '';
            height: 16px;
            width: 16px;

            // top: ;
            left: 4px;
            bottom: 3px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
          }

          input:checked + .slider {
            background-color: #2196F3;
          }

          input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
          }

          input:checked + .slider:before {
            -webkit-transform: translateX(40px);
            -ms-transform: translateX(40px);
            transform: translateX(40px);
          }

          /* Rounded sliders */
          .slider.round {
            border-radius: 34px;

            // background-color: transparent;
            // border: 1px solid #dcdfe2;

          }

          .slider.round:before {
            border-radius: 50%;
          }

          /* end The slider */
        }

        //list-group-items

      }
    }

    //settings

  }

  //form-settings
}

.setting-config-panel {
  height: 100vh;
}

.btn-process-design {
  width: 150px;
  height: 30px;
  padding: 5px 10px;
  line-height: 20px;
}

.btn-content-container {
  top: 5px;
}

.btn-add-variables {
  width: 120px;
  padding: 5px 10px;
  padding-left: 4px;
  text-align: center;
}

.list-group-head {
  a {
    font-size: 13px;
    color: #fff !important;
  }
}
