/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-a {
  background-image: url(../img/sprites.png);
  background-position: -304px -48px;
  width: 22px;
  height: 50px;
}
.icon-camera {
  background-image: url(../img/sprites.png);
  background-position: -304px 0px;
  width: 48px;
  height: 48px;
}
.icon-environmen-white {
  background-image: url(../img/sprites.png);
  background-position: 0px -152px;
  width: 76px;
  height: 76px;
}
.icon-environment {
  background-image: url(../img/sprites.png);
  background-position: 0px -76px;
  width: 76px;
  height: 76px;
}
.icon-globe-white {
  background-image: url(../img/sprites.png);
  background-position: -76px -76px;
  width: 76px;
  height: 76px;
}
.icon-globe {
  background-image: url(../img/sprites.png);
  background-position: -152px 0px;
  width: 76px;
  height: 76px;
}
.icon-landscape {
  background-image: url(../img/sprites.png);
  background-position: -326px -48px;
  width: 24px;
  height: 24px;
}
.icon-money-white {
  background-image: url(../img/sprites.png);
  background-position: 0px 0px;
  width: 76px;
  height: 76px;
}
.icon-money {
  background-image: url(../img/sprites.png);
  background-position: -76px 0px;
  width: 76px;
  height: 76px;
}
.icon-picture {
  background-image: url(../img/sprites.png);
  background-position: -304px -98px;
  width: 32px;
  height: 32px;
}
.icon-plane-white {
  background-image: url(../img/sprites.png);
  background-position: -228px 0px;
  width: 76px;
  height: 76px;
}
.icon-plane {
  background-image: url(../img/sprites.png);
  background-position: -228px -76px;
  width: 76px;
  height: 76px;
}
.icon-product-white {
  background-image: url(../img/sprites.png);
  background-position: -228px -152px;
  width: 76px;
  height: 76px;
}
.icon-product {
  background-image: url(../img/sprites.png);
  background-position: -152px -152px;
  width: 76px;
  height: 76px;
}
.icon-stat-white {
  background-image: url(../img/sprites.png);
  background-position: -76px -152px;
  width: 76px;
  height: 76px;
}
.icon-stat {
  background-image: url(../img/sprites.png);
  background-position: -152px -76px;
  width: 76px;
  height: 76px;
}
.icon-textarea {
  background-image: url(../img/sprites.png);
  background-position: 0px -228px;
  width: 50px;
  height: 47px;
}
