body {
  font-family: $font;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $heading;
}
p {
    font-size: 12px;
  }
a {
  font-family: $font;
}
@media (min-width: 1200px){
  .container {
    width: 100%;
  }
}
.bg-dash-menu{
    background-color: $navi;
    height: 100%;
  }
.main-content{
  padding-top: 18px;
  padding-left: 50px;
  padding-right: 50px;
} //end main-content
.block{
  background-color: #fff;
  margin: 50px;
  // padding: 26px 23px 26px 23px;
  padding: 16px 13px 16px 13px;
  // box-shadow: 1px 3px 16px $light-grey;
  border-top: 5px solid #dcdfe2!important;
}
.wrap{
  margin: 16px 30px;
  .breadcrumb{
    padding-left: 0px;
    a {
      color: $dark-font;
    }
    .active{
      color: $blue;
    }
  }
}
.widget{
  margin-top: 30px;
  background-color: #fff;
  padding: 22px 19px 22px 19px;
  border-top: 5px solid #dcdfe2!important;
  border: 1px solid #dcdfe2;
  form{
    // margin-top: 30px;
    label{
      font-size: 12px;
      color: $light-font;
    }
    input[type=text]{
      height: 40px;
      border-right: none!important;
    }
    .input-group-addon{
      color: $light-font;
      background-color: transparent;
      border-left: none!important;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    select{
      position:relative;
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
    }
    .form-group{
      margin-top: 15px;
      position: relative;
      span{
        position: absolute;
        top: 31px;
        right: 10px;
        border: none;
        font-size: 10px;
        font-weight: bold;
      }
    }
  }
}
.center{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.center-all{
  display: block;
  margin: auto;
}
.clear-pad{
  padding: 0px!important;
}
.clear-marg{
  margin: 0px!important;
}
a{
  color: $main;
  &:hover, &:focus{
    text-decoration: none;
  }
}
//buttons
.btn {
  font-family: $font;
  font-size: 11px;
  text-transform: uppercase;
  // color: #fff;
  border: none;
  background-color: $main;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    // background-color: $bar!important;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
    color: #fff;
  }
}
.btn-std{
  width: 100%;
  font-family: $font;
  padding: 10px;
  color: $btn-text!important;
  border-radius: 0px;
  &:hover{
    color: $btn-text;
  }
}
.btn-std-sm{
  width: 25%;
  font-family: $font;
  // padding: 5px 0px 5px 0px;
  color: $btn-text!important;
  border-radius: 0px;
  &:hover{
    color: $btn-text;
  }
}
.btn-menu{
  width: 45%;
  margin-top: 5px;
  margin-right: 5px;
  float: left;
  font-family: $font;
  font-size: 6px;
  color: $dark-font!important;
  border-radius: 0px;
  &:hover{
    color: $btn-text;
  }
}
.btn-trash{
  margin: 0px;
  padding: 2px!important;
  text-align: center;
   i{
    text-align: center;
   }
  &:hover{
    opacity: 0.8;
    box-shadow: none;
    outline-color: none;
    outline-offset: none;
    text-shadow: none;
  }
}

.btn-blue{
  width: 100%;
  background-color: $blue;
  font-family: $font;
  font-size: 10px;
  // padding: 35px;
  color: $btn-text;
  border-radius: 0px;
  &:hover{
    background-color: $hover-blue;
  }
}
.btn-blue-sm{
  width: 100%;
  padding: 3px 5px 2px 5px;
  background-color: $blue;
  font-family: $font;
  font-size: 10px;
  color: $btn-text;
  border-radius: 3px;
  &:hover{
    background-color: $hover-blue;
  }
}
.btn-disable{
  width: 100%;
  background-color: #9a9fa5;
  font-family: $font;
  padding: 12px;
  color: $btn-text;
  border-radius: 0px;
  text-align: center;
}
.btn-open{
  width: 100%;
  font-family: $font;
  font-size: 12px;
  padding: 3px 5px 3px 5px;
  // background-color: #f4f4f4;
  border: 1px solid #979ba0!important;
  color: #5a636d;
  &:hover{
    background-color: $navi!important;
    color: $btn-text;

  }
}
.btn-edit{
  width: 100%;
  font-family: $font;
  font-size: 12px;
  padding: 3px 5px 3px 5px;
  border-radius: 0px;
  color: #fff;
  &:hover{
    background-color: $navi!important;
    color: $btn-text;
  }
}

.btn-small{
  position: relative;
  width: 31%;
  border: 1px solid $blue;
  color: $blue!important;
  text-align: left;
  &:hover{
    background-color:$blue;
    color: #fff!important;
  }
  i{
    position: absolute;
    top: 8px;
    right: 20px;
  }
}
.btn-thumb{
  width: 110px;
  font-family: $font;
  padding: 10px;
  color: $btn-text!important;
  &:hover{
    color: $btn-text;
  }
}
.bg-main-navi {
  background-color: $navi;
}
.bg-main-navi-drawer{
  background-color: $navi-drawer;
}
.bg-green{
  background-color: #67bd52;
}
.bg-violet{
  background-color: $main;
}
.bg-red{
  background-color: #c04a48;
}
.bg-dark-grey{
  background-color: #9a9fa5;
}
.bg-light-grey{
  background-color: #f4f4f4;
}
.bg-blue{
  background-color: $blue;
}
.bg-trans{
  background-color: transparent;
}
//colors
.white{
  color: #fff!important;
}
.blue {
  color: $blue;
}
.off-white{
  color: $off-white;
}
.light-grey{
  color: $light-grey;
}
.light-font{
  color: $light-font!important;
}
.grey{
  color: $grey;
}
.red{
  color: $red;
}
.green{
  color: $green;
}
.purple{
  color: $purple;
}
.pink{
  color: $pink;
}
.yellow{
  color: $yellow;
}
.cyan{
  color: $cyan;
}
.teal{
  color: $teal;
}
.orange{
  color: $orange;
}
.yellow-green{
  color: $yellow-green;
}
//forms
.form-group {
  margin-top: 30px;
  input{
    height: 40px;
    // max-width: 353px;
    @media (min-width: 1024px){
      // width: 353px;
    }
    &:nth-child(2){
      margin-bottom: 30px;
    }
  }
  select{
    height: 40px;
    option{
      color: $light-font;
    }
  }
  input[type=email]{
    color: $input;
  }

  input[type=password]{
    height: 40px;
    border-top: none;
  }
}

  .form-control{
    border-radius: 0px;
  }

//side menu and top menu
  .bg-dash-menu{
    background-color: $navi;
    height: 100%;
  }
  .logo {
    padding: 12px;
    width: 100%;
    height: 70px;
    background-color: $bg-logo;
    img{
      @extend .center;
      padding: 2px;
      background-color: #fff;
      border-radius: 50%;
      width: 40px;
    }
  } //logo

  .side-menu{
    background-color: $navi;
    // height: 100%!important;
    @media (min-width: 1200px){
      min-height: 800px;
      max-height: 1000px!important;
      height: 1000px!important;
    }

      .list-group {

        a {
          color: #fff;
          font-size: 12px;
          padding: 20px 20px 20px 60px;
          position: relative;
          text-transform: none;
          i {
            position: absolute;
            top: 16px;
            left: 20px;
            font-size: 18px;
            margin-right: 13px;
          }
          .i-float{
            position: absolute;
            top: 23px;
            left: 33px;
            font-size: 10px;
            color: $light-font;
            background-color: $navi;
            border-radius: 50%;
          }
        }
        ul li ul{
          &:nth-child(2){
            // border-right: 5px solid #fff;
          }
        }
        ul li{
          &:nth-child(2){
              padding: 20px 25px 20px 25px;
            }
          ul li {
            color: #fff;
            font-size: 12px;
            &:first-child, &:nth-child(2){
              padding: 20px 25px 20px 25px;
            }
            form{
                margin-bottom: 43px;
                font-family: $font;
            }
            p{
              padding-left: 23px;
              color: #7c8c94;
              font-size: 12px;
              font-family: $font;
              line-height: 14px;

            }
            .access{
              margin-top: 25px;
              padding-left: 23px;
              width: 65%;
              a {
                margin-right: 0;
                padding-left: 10px;
                font-size: 10px;
                background-color: $navi;
                i{
                  position: static;
                  font-size: 10px;
                  padding-left: 20px;
                }
              }
            }
            input[type=text]{
              background-color: $navi;
              color: #fff!important;
            }
            .input-group-addon{
              background-color: $navi;
              color: #fff;
            }
            ::-webkit-input-placeholder {
               color: #fff;
            }
          }
        }
      }
      .active{
          background-color: $navi-drawer;
          border-left: 5px solid $bg-logo;
          .i-float{
            background-color: #fff;
          }
        }

      .list-group-item{
        background-color: transparent;
        border: none;
        border-radius: 0px;
        border-left: 5px solid transparent;
        color: $light-font;
        padding: 10px 15px 10px 15px;
        // .active {
        //   background-color: red!important;
        // }
        &:hover{
          background-color: $navi-drawer; //#3d4957
          border-left: 5px solid $bg-logo!important;
          .i-float{
            background-color: #fff;
          }

        }
      }
  } // side-menu

  .top-menu{
    position: relative;
    color: #fff;
    padding: 14px 22px 14px 22px;
    background-color: $navi;
    height: 70px;
    img{
      padding: 2px;
      background-color: #fff;
      border-radius: 50%;
      width: 35px;
    }

    .company-info{
      p { color: $light-font; }
      span{
        position: absolute;
        top: 8px;
        right: 0px;
        font-weight: 700;
      }
    }

    .profile {
      border-left: 1px solid #333;
      padding-left: 20px;
      color: #fff;
      position: relative;
      span{
        position: absolute;
        top: 8px;
        right: 0px;
      }
      .pic{
        float: left;
        margin-right: 13px;
      }
      .name {
        font-weight: bold;
        padding-top: 5px;
      }
      .position{
        color: $light-font;
        font-size: 10px;
      }
    }
    .form-link {
      float: right;
      .form-group{
        // float: right;
        margin-top: 0px;
        input {
          height: 40px;
          border-radius: 5px;
        }
        &:nth-child(1){
          float: left;
        }
        &:nth-child(2){
          // margin-left: 30px;
          float: left;
        }
      }
    }
    ul {
      color: #7c8c94;
      text-align: center;
      li {
        text-align: center;
        a {
          font-size: 20px;
          padding: 23px;
          .badge{
            padding: 2px 5px;
            position: absolute;
            border: 2px solid $navi;
            top: 0px;
            left: 38px;
            background-color: #fb434a;
            font-size: 10px;
          }
          &:nth-child(2){
            padding-right: 15px;
            padding-left: 15px;
          }
          i {
            font-size: 17px;
          }
          &:hover, &:active, &:focus{
            background-color: transparent;
            opacity: 0.8;
          }
        }
      }
    }

    a {
      i {
        position: absolute;
        top: 9px;
        right: 0;
        color: #a8bec9;
        font-size: 23px;
      }
      &:hover{
        opacity: 0.8;
      }
    }
  } // top-menu

  // side navi

.list-group {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
  width: 100%;
  // background: $navi;
  font-family: 'roboto', Tahoma, Arial, sans-serif;
  zoom: 1;
  ul , ul li, ul ul{
    list-style: none;
    margin: 0;
    padding: 0;

  }
  ul li:hover > ul {
    visibility: visible;
    background-color: #3d4957;
    width: 150%;
  }

  ul {
    position: relative;
    z-index: 500;
    float: left;

    li {
      float: left;
      min-height: 0.05em;
      line-height: 1em;
      vertical-align: middle;
      position: relative;
      &:hover{
        position: relative;
        z-index: 510;
        cursor: default;
      } //&:hover
    } //li
    ul {
      top: 0;
      left: 100%;
    }
    ul {
      visibility: hidden;
      position: absolute;
      top: 100%;
      left: 0px;
      z-index: 520;
      width: 100%;
      li {
        float: none;
      }
      ul {
        top: -259px;
        right: 0;
      }
    }
  } //ul
}


// .list-group ul li:hover > ul { visibility: visible; }

.list-group ul ul {
  top: 0;
  left: 100%;
}

.list-group ul li { float: none; }

.list-group:before {
  content: '';
  display: block;
}

.list-group:after {
  content: '';
  display: table;
  clear: both;
}

.list-group a {
  display: block;
  padding: 1em 1.3em;
  color: #ffffff;
  text-decoration: none;
  // text-transform: uppercase;
}

.list-group > ul { width: 100%; }

.list-group ul ul { width: 100%; }

.list-group > ul > li > a {
  color: #ffffff;
}

.list-group > ul > li > a:hover { color: #ffffff; }

.list-group li { position: relative; }

.list-group ul li.list-group-item > a:after {
  // content: '»';
  position: absolute;
  right: 1em;
}
.list-group ul ul {
  border: 1px solid #3d4957;
  height: 100vh;
}

.list-group ul ul a { color: #ffffff; }

.list-group ul ul a:hover { color: #ffffff; }

.list-group ul ul li { border-bottom: 1px solid transparent; }

.list-group ul ul li:hover > a {
  background: #4eb1ff;
  color: #ffffff;
}

.list-group.align-right > ul > li > a {
  border-left: 0.3em solid #34A65F;
  border-right: none;
}

.list-group.align-right { float: right; }

.list-group.align-right li { text-align: right; }

.list-group.align-right ul li.list-group-item > a:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}

.list-group.align-right ul li.list-group-item > a:after { content: none; }

.list-group.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100%;
}
