$body-bg: #f1f3f6;
$dash-bg: #f3f3f4;
$main: #7e0b80;
$btn-text: #fff;
$font: 'Droid Sans', sans-serif;
$heading: 'Roboto', sans-serif;
//color
$off-white: #f5f5f5;
$light-grey: #888888;
$dark-grey: #343434;
$dark-font: #343f4b;
$light-font: #999fa5;
$base-dark: #f3f3f3;
//index
$login-box: #fff;
  $input: #343f4b;

//dashboard
$bg-logo: #1182d4;
$navi: #36404c; //nav base
$navi-drawer: #3d4957;
$navi-font: #999fa5;
$blue: #1282d4;
$hover-blue: #0d5f9b;
//marketplace
$input-bg: #f7f7f7;
//colors
$grey: #7c8c94;
$red: #ef0303;
$green: #46be8a;
$purple: #db7ddc;
$pink: #ff3caf;
$yellow: #ffd735;
$cyan: #3ddcea;
$teal: #83aec2;
$orange: #efa854;
$yellow-green: #cdff35;
