.data-designer{
  table{
    margin-top: 20px;
    border: 1px solid #dcdfe2;
    td{
      i {
        padding-right: 10px;
      }
      a{
        i {
          padding-right: 10px;
        }
      }
    }
  }
}
