footer{
  background-color: #e8e8e9;
  width: 100%;
}
.side-foot{
    background-color: $navi;
    height: 60px;
  }
.foot-wrap{
  padding: 20px 30px 20px 30px;
  .copy{
    font-size: 12px;
    font-weight: 500;
  }
  .links{
    ul {
      float: right;
      li {
        font-size: 12px;
        font-weight: 500;
        // margin-left: 30px;
        a{
          color: $dark-grey;
          padding-top: 0px;
          padding-bottom: 0px;
          &:hover{
            color: $dark-grey;
            text-transform: none;
          }
        }
        &:nth-child(5){
          // padding-left: 30px;
          border-left: 1px solid #cecece;
        }
      }
    }
  }
}
